<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
   {{>navbar}}
        <!-- main header -->
        <div class="container-fluid main_header">
          <div class="row">
              <div class="col-md-10 col-md-10 mx-auto">
                <div class="row">
                      <!-- left side div -->
                      <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/about.jpg" class="img-fluid" alt="imran"/>
                        </figure>                    
                    </div>
                  <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to the weather app</p>
                    <h1>I am a <span>Full Stack</span> Developer</h1>
                    <a href="https://imranshaikh.netlify.app/" target="_blank"><button>About me</button></a>
                  </div>
                  <!-- righit side div -->
                  

                </div>

                </div>
          </div>
        </div>
        <!-- footer -->
         {{>footer}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>